body {
    width:100%;
    height:auto;
}

.floatLeft{
    float:left;
}

.labelDiv{

    width:100px;
    margin-right : 10px;
}

#mainDiv {
    border-style: solid;
    border-color: inherit;
    border-width: 1px;
    width: 40%;
    height: auto;
    position: absolute;
    left: 34%;
    padding: 10px;
    top: 112px;
}

.entryDiv {
    width: 800px;
    height: 40px;
}

#projectname{
    margin-left:0 !important;
}